
h1 {
    font-family: "Times New Roman", serif;
    font-variant: normal;
    text-align: center;
    color: #FFF;
    padding: 140px;
}

header {
    margin: auto;
    font-family: "Times New Roman", serif;
    tex-align: center;
    padding: 50px;
}

.navbar {
    color: #FFF;
    text-align: center;
    background: radial-gradient(#944, #FAA);
    background-position: center;
    background-size: cover;
    padding: 10px;
    width: auto;
}


.navbar a{
    width: auto;
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.navbar a:visited {
    color: #FFF;
}

.navbar a:hover {
    color: yellow;

}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img10.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.shasta-terrace {
    margin: 30px auto;
    display: flex;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.paragraph {
    font-family: "Times New Roman";

}







